@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

html{
    font-size: 62.5%;
    overflow-x: hidden;
    /* overflow-x: scroll; */
}

body {
    overflow-x: hidden;
    /* overflow-x: scroll; */
}
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.html {
    font-size: 62.5%;
} */

.logo {
    height: 6rem;
    /* display: none; */
}

.header {
    /* display: flex; */
    position: relative;
    /* background-color: burlywood; */
    background: transparent;
    /* background: #43595F; */
    /* z-index: 1002; */
    padding: 1rem;
}
.stickynav {
    position: fixed;
    /* position: relative; */
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
}

.stickynav.sticky{
    background-color: #43595F; /* Set the desired background color for the sticky navbar */
    z-index: 1;
    z-index: 1002;
}

.sticky.navlink::after{
    background-color: #D5D2D6;
}

.heronav {
    display: flex;
    position: relative;
    width: 100%;
    /* border: 2px solid red; */
    /* display: none; */
}

.navbardiv {
    display: flex;
    padding: 0 6.8rem;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -25px;
    top: 20.5px;
}

.navbar .navlist{
    display: flex;
    gap: 4rem;
    list-style: none;
}

.navlink:link,
.navlink:visited {
    font-size: 1.5rem;
    color: #43595F;
    /* color: #D5D2D6; */

}

.navlink {
    position: relative; /* Add relative positioning to the navlink */
}

.navlink::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 3px;
    background-color: #43595F;
    transform: scaleX(0); /* Initially hide the underline */
    transform-origin: left; /* Set the origin of the transform */
    transition: transform 0.3s; /* Add transition property for smooth animation */
}

.navlink:hover::after {
    width: 100%; /* Expand width to 100% on hover */
    transform: scaleX(1); /* Scale the underline to full width on hover */
}

.navlink.scrolled {
    color: #D5D2D6; /* Change the color for the scrolled state */
}

.navlink.scrolled::after {
    background-color: #D5D2D6; /* Change the underline color for the scrolled state */
    border-color: #D5D2D6; /* Change the underline color for the scrolled state */
}

/* .main {
    border: 2px solid red;
} */

.hero {
    background-image: url(/img/toolbg.jpeg);
    background-size: cover;
    background-position: center;
    position:relative;
    height: 100vh;
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .herobg{
    width: 100%;
    position: relative;
    z-index: -1;
} */

.hero-text {
    position: relative;
    width: 320px;
    transform: translateX(100%);
} 

.hero-text > h1{
    /* border: 2px solid green; */
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    color:#43595F;
    /* position: absolute; */
    /* right: 2rem;
    bottom:23rem; */
}

.section-services, 
.section-contact{
    padding: 9.6rem 0;
    background-color: #A0CBDB;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}

.section-services {
    display: none;
}

.section-contact,
.section-clients {
    background-color: #D5D2D6;
}

.section-hero p,
.section-services p, 
.section-clients p,
.section-contact p{
    font-size: 3.2rem;
}

/* contact styling  tweaks*/
.container-contact {
    padding: 2rem;
    padding-bottom: 0;
    position: relative;
    width: 100%;
    min-height: 50vh;
    /* padding: 3.2rem; */
    background-color: #d5d2d6;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-contact {
    width: 100%;
    /* max-width: 820px; */
    background-color: #fff;
    /* border-radius: 10px; */
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    z-index: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.map {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    padding-top: 0;
    background-color: #D5D2D6;
    /* background-color: #43595F; */
}

iframe {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 500px;
}
/* contact styling tweaks ends here  */

/* Clients styling starts here  */

.section-clients {
    background-color: #D5D2D6;
    /* background-color: #43595F; */
    padding: 2rem;
    /* border: 2px solid black; */
    /* height: 100vh; */
}

.clients {
    /* border: 2px solid #43595F; */
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    height: 20vh;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
}

.client-heading {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.client-heading h3 {
    font-size: 3.5rem;
    font-weight: 500;
    color:#43595F;
    text-shadow: 0.5rem;;
    
}

.logos {
    /* border: 2px solid blue; */
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo1 {
    height: 5rem;
}

.logo2 {
    height: 8rem;
}
.logo3 {
    height: 9rem;
}


/* client styling ends here  */

/* FOOTER BEGINS HERE */

.footer{
    background-color: #43595f;
    padding: 9rem 0;
    align-items: center;
}

.f-container {
    max-width: 140rem;
    margin: 0 auto;
    display: grid;
    gap:9rem;
    grid-template-columns: repeat(3, 1fr);
}

.f-container h3{
    font-size: 1.8rem;
    font-weight: 400;
    color:#D5D2D6;
    margin-bottom: 4rem;
}

.f-about p {
    color:#D5D2D6;
    font-size: 1.1rem;
}

.f-about{
    padding-left: 1rem;
}

.f-links ul,
.f-address address {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    justify-content: center;
}

.f-links li, 
.f-links a {
    font-size: 1.2rem;
    color:#D5D2D6;
}

.f-address {
    padding-right: 1rem;
}

.f-links span,
.f-address span {
    margin-right: 1rem;
}

.f-address p,
.f-address a {
    font-style: Normal;
    color: #D5D2D6;
}

.f-credits p {
    color:#D5D2D6;
    text-align: center;
    margin-top: 10rem;;
}

.footer a:hover,
.footer a:active {
    color:#FFFFFF;
    transition: 0.5s linear;
}
/* FOOTER ENDS HERE */







/* responsive code  */

/* 980 px  */
@media (max-width: 62em) {

    .f-container {
        display: flex;
        flex-direction: column;
    }
    .f-about,
    .f-address,
    .f-links,
    .f-services,
    .f-credits {
        text-align: center;
    }

}

@media (max-width: 850px) {
    .form-contact{
        grid-template-columns: 1fr;
        }
}

@media (max-width: 480px) {
    .container-contact {
        padding: 2.4rem;
    }

    .form-contact,
    .contact-info {
    padding: 2.72rem 2.56rem;
    }
}